In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('CynthiaViteri6.txt', sep="|", header=None)

In [11]:
data.columns = ["tweet_id","max_rt","aslfj","username"]

In [14]:
data.head()

              tweet_id  max_rt  aslfj         username
0  1109852706351562752     246     25  @grupogentesana
1  1109852706351562752     246     25  @Carlos31484544
2  1109852706351562752     246     25     @mateo_pz064
3  1109852706351562752     246     25    @Dany66934582
4  1109852706351562752     246     25      @jadecker83

In [36]:
grouped = data.groupby(['tweet_id', 'max_rt'])['username'].apply(lambda x: "%s" % ', '.join(x))

In [37]:
grouped.head()

tweet_id             max_rt
1091143286994202625  43        @casabando, @VeronicaLoaizaV, @FAGuayas, @fabr...
1091159080507490304  36        @luis_carriel, @fabrizio_213, @raulalv79802951...
1091340335010271235  17        @LA6MDG, @Sg3714, @lore_estupinan, @Sinclair11...
1091341717175967745  17        @LA6MDG, @fabrizio_213, @Sg3714, @msvg1501, @j...
1091346174668361728  25        @VicenteTaianoEC, @FAGuayas, @cruizalvarez, @C...
Name: username, dtype: object

In [38]:
grouped.to_csv('primer_nivel.csv', sep="|")

In [39]:
data2 = pd.read_csv('CynthiaViteri6-wh.txt',sep="|", header=None)

In [40]:
data2.columns = ["0","1","2","3","4"]

In [42]:
data2[["0","1","4"]].head()

,0,1,4
0,1108905975615025152,@GyeSigue,#SigueGuayaquilSiguehttps://twitter.com/Cynthi...
1,1108902611904806912,@GyeSigue,¡Este 24 de marzo Guayaquil #RayaTodititititoL...
2,1098627637415690240,@GyeSigue,¡Gracias @CynthiaViteri6 por conversar con nos...
3,1097303507307282433,@GyeSigue,¡No te lo puedes perder!https://twitter.com/Cy...
4,1095751566366306304,@GyeSigue,#PorUnFuturoSinDrogashttps://twitter.com/Cynth...

In [44]:
data2[["0","1","4"]].to_csv('rt_primer_nivel.csv', sep="|", index=False, header=None)

In [47]:
data2["0"].to_csv('ids_tweets.csv', sep="|", index=False, header=None)